body,html{
    margin:0px;
    font-family: 'Spectral SC', serif;
    font-size:4vw;
    cursor: default;
    background-color:#f3d478;
    overflow-x: hidden;
    overflow-y: auto;
}
body{
    width:90%;
    padding-left:5%;
    padding-right:5%;
    margin-top: 5%;
}

p{
    margin: 1.5% 0%;
}

h2{
    font-size:5.5vw;
    margin: 5% 0%;
}
h4{
    font-size:5vw;
    margin: 2.5% 0%;
}
#logo{
    text-align:center;
    width:90%;
    padding:1% 0%;
    background-color:#c6ba7c;
}

#logoimg{
    max-width: 90%;
}
ul {
    display: block;
    list-style-type: none;
    margin: 0;    
    padding: 0% 5%;
    overflow: hidden;
    background-color: #eee3a9;
    text-align: center;
}
#textoM{
    display:inline-block;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
}
.elemenu {
    display: inline-block;
    background-color: #eee3a9;
    font-weight: bold;
	font-size: 5vw;
    text-align: center;
    color: #7c8285;
    width: 75%;
    border: 2px #9e891b solid;
    padding: 2%;
    margin:2%;
    overflow: hidden;   
}

.elemenu:hover{
    background-color: #9e891b;
    color:#dcddde;
    border: 1px #eee3a9 solid;
}


#menu{
    width:80%;
    height: 10%;
    top: 0%;
    left: 0%;

}

.IndexD{
    width:100%;
    color: #8f672b;
}


a{
    text-decoration: none;
    color: #607D8B;
    font-size: 6.5vw;
    font-weight: bold;
}
a:hover{
    color: #FF9800;
    text-decoration: underline;
}

#link{
 text-align: center;   
}